@charset "UTF-8";
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: dosis;
}
header {
    background-color: #33C3F0;
    color: black;
    font-weight: normal;
    padding: 1rem 0 0.7rem 0;
}
#header-text {
    margin-left: 1.3rem;
    margin-bottom: 0;
}

/* Cursor */

input[type="checkbox"] + label,
input[type="radio"] + label {
    cursor: pointer;
}

/* Hinklist */

input[type="checkbox"] {
    /*display: none;*/
}
input[type="checkbox"] + label[class="checkbox-circle"] > div,
input[type="checkbox"] + label[class="checkbox-circle"] > div > div {
    border-radius: 50%;
    height: 0;
    /* Square code */
    padding-bottom: 2.4rem;
    width: 2.4rem;
}
input[type="checkbox"] + label[class="checkbox-circle"] > div > div {
    /* Center code */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
input[type="checkbox"] + label[class="checkbox-circle"] > div > div {
    top: 0.1rem;
    /* Square code */
    padding-bottom: 2.2rem;
    width: 2.2rem;
    background-color: white;
}
input[type="checkbox"] + label[class="checkbox-circle"] > div > div {
    top: 0.1rem;
    /* Square code */
    padding-bottom: 1.5rem;
    width: 1.5rem;
    background-color: #E1E1E1;
    display: block;
}
input[type="checkbox"] + label[class="checkbox-circle"] > div {
    background-color: white;
    border: 1px solid #E1E1E1;
}
input[type="checkbox"]:checked + label[class="checkbox-circle"] > div > div > div {
    display: block;
}
